<div class="container">
    <app-create-area></app-create-area>
    <table class="highlight">
        <thead>
            <tr>
                <th>ID</th>
                <th>Area</th>
                <th>Modificar</th>
                <th>Eliminar</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let a of arrayAreas">
                <td> {{a.arnIdarean}}</td>
                <td>{{a.arnTipo}}</td>
                <td>
                    <button mz-button [float]="true" [routerLink]="['/Edit', a.arnIdarean]" class="waves-effect waves-light btn indigo">
                      <i mz-icon
                      [align]="'center'"
                      [icon]="'create'"
                      [size]="'small'">
                    </i>
      </button></td>
                <td><button mz-button [flat]="true" [float]="true" (click)="deleteBusiness(a.arnIdarean)" class="btn red">
                  <i mz-icon
                  [align]="'right'"
                  [icon]="'delete_forever'"
                  [size]="'small'">
                </i>
      </button></td>
            </tr>

        </tbody>
    </table>
</div>