<div class="container">
    <h4>Editar</h4>
    <div class="row">
        <div class="col s12 m6  text-center">
            <form [formGroup]="editForm">
                <label>Area</label>
                <input type="text" class="form-control" formControlName="arnTipo" #arnTipo/>
            </form>

        </div>
    </div>


    <button mz-button [flat]="true" role="button" (click)="updateBusiness(arnTipo.value)">Guardar</button>

    <button mz-button [flat]="true">Cancelar</button>

</div>