
<button mz-button (click)="basicModal.openModal()">
  Nuevo
</button>
<div class="container">
<table class="highlight">
<thead>
  <tr>
      <th>ID</th>
      <th>Datoscandidato</th>
      <th>Modificar</th>
      <th>Eliminar</th>
  </tr>
</thead>

<tbody>
  <tr *ngFor="let a of arrayAreas">
    <td> {{a.cndIdcandidato}}</td>
    <td>{{a.cndNombre}}</td>
    <td>{{a.cndApellidoPat}}</td>
    <td>{{a.cndApellidoMat}}</td>
    <td>{{a.cndCalle}}</td>
    <td>{{a.cndNumext}}</td>
    <td>{{a.cndNumint}}</td>
    <td>{{a.cndCodpostal}}</td>
    <td>{{a.cndColonia}}</td>
    <td>{{a.cndMunicipio}}</td>
    <td>{{a.cndEstado}}</td>
    <td>{{a.cndPais}}</td>
    <td>{{a.cndEdad}}</td>
    <td>{{a.cndEstcivil}}</td>
    <td>{{a.cndEmail}}</td>
    <td>{{a.cndHijos}}</td>
    <td>{{a.cndDispoviajar}}</td>
    <td>{{a.cndVisa}}</td>
    <td>{{a.cndPasaporte}}</td>
    <td>{{a.cndTrabaja}}</td>
    <td>{{a.cndDisponibildiad}}</td>
    <td>{{a.cndDispotrabajo}}</td>
    <td>{{a.cndGenero}}</td>

    <td><button mz-button >
      Editar
    </button></td>
    <td><button mz-button>
      Eliminar
    </button></td>
  </tr>

</tbody>
</table>
</div>

<div >
  <mz-modal #basicModal>
    <mz-modal-header>
      <h4>Agregar Datoscandidato</h4>
    </mz-modal-header>
    <mz-modal-content>
      <form [formGroup]="angForm">

        <label >Datoscandidato</label>
        <input type="text" class="form-control" formControlName="cndNombre" #cndNombre/>
        <input type="text" class="form-control" formControlName="cndApellidoPat" #cndApellidoPat/>
        <input type="text" class="form-control" formControlName="cndApellidoMat" #cndApellidoMat/>
        <input type="text" class="form-control" formControlName="cndCalle" #cndCalle/>
        <input type="text" class="form-control" formControlName="cndNumext" #cndNumext/>
        <input type="text" class="form-control" formControlName="cndNumint" #cndNumint/>
        <input type="text" class="form-control" formControlName="cndCodpostal" #cndCodpostal/>
        <input type="text" class="form-control" formControlName="cndColonia" #cndColonia/>
        <input type="text" class="form-control" formControlName="cndMunicipio" #cndMunicipio/>
        <input type="text" class="form-control" formControlName="cndEstado" #cndEstado/>
        <input type="text" class="form-control" formControlName="cndPais" #cndPais/>
        <input type="text" class="form-control" formControlName="cndEdad" #cndEdad/>
        <input type="text" class="form-control" formControlName="cndEstcivil" #cndEstcivil/>
        <input type="text" class="form-control" formControlName="cndEmail" #cndEmail/>
        <input type="text" class="form-control" formControlName="cndHijos" #cndHijos/>
        <input type="text" class="form-control" formControlName="cndDispoviajar" #cndDispoviajar/>
        <input type="text" class="form-control" formControlName="cndVisa" #cndVisa/>
        <input type="text" class="form-control" formControlName="cndPasaporte" #cndPasaporte/>
        <input type="text" class="form-control" formControlName="cndTrabaja" #ndTrabaja/>
        <input type="text" class="form-control" formControlName="cndDisponibildiad" #cndDisponibildiad/>
        <input type="text" class="form-control" formControlName="cndDispotrabajo" #cndDispotrabajo/>
        <input type="text" class="form-control" formControlName="cndGenero" #cndGenero/>

      </form>
    </mz-modal-content>
    <mz-modal-footer>
      <button mz-button [flat]="true"
       role="button" (click)='adddatoscandidato(cndNombre.value)'
       (click)='adddatoscandidato(cndApellidoPat.value),'
       (click)='adddatoscandidato(cndApellidoMat.value)'
       (click)='adddatoscandidato(cndCalle.value)'
       (click)='adddatoscandidato(cndNumext.value)'
       (click)='adddatoscandidato(cndNumint.value)'
       (click)='adddatoscandidatocndCodpostal.value)'
       (click)='adddatoscandidato(cndColonia.value)'
       (click)='adddatoscandidato(cndMunicipio.value)'
       (click)='adddatoscandidato(cndEstado.value)'
       (click)='adddatoscandidato(cndPais.value)'
       (click)='adddatoscandidato(cndEdad".value)'
       (click)='adddatoscandidato(cndEstcivil.value)'
       (click)='adddatoscandidato(cndEmail.value)'
       (click)='adddatoscandidato(cndHijos.value)'
       (click)='adddatoscandidato(cndDispoviajar.value)'
       (click)='adddatoscandidato(cndVisa.value)'
       (click)='adddatoscandidato(cndPasaporte.value)'
       (click)='adddatoscandidato(cndTrabaja.value)'
       (click)='adddatoscandidato(cndDisponibildiad.value)'
       (click)='adddatoscandidato(cndDispotrabajo.value)'
       (click)='adddatoscandidato(cndGenero".value)'


       mz-modal-close>Guardar</button>
      <button mz-button [flat]="true" mz-modal-close>Cancelar</button>
    </mz-modal-footer>
  </mz-modal>
</div>
