<!--Navbar-->
<mz-navbar navbarClass="grey darken-2">
    <a href="#" id="btn-sidenav-demo" class="brand-logo">
        <i mz-icon [align]="'left'" [icon]="'menu'" [size]="'large'">
    </i>
    </a>
    <mz-navbar-item-container [align]="'center'">
        <mz-navbar-item>
            <h4 style="padding-left: 450px;">Reclutamiento y Selección</h4>
        </mz-navbar-item>
    </mz-navbar-item-container>
    <mz-navbar-item-container [align]="'right'">
        <mz-navbar-item><a href="#">$Username</a></mz-navbar-item>
        <mz-navbar-item>
            <a href="#"> <i mz-icon [align]="'rigth'" [icon]="'subdirectory_arrow_right'"></i></a>
        </mz-navbar-item>
    </mz-navbar-item-container>
</mz-navbar>


<!-- Sidenav del lado izquierdo-->
<mz-sidenav [id]="'sidenav-demo'" [collapseButtonId]="'btn-sidenav-demo'">
    <mz-sidenav-header>
        <div class="grey darken-4">
            <div class="bg-header">
                <!-- <div class="user-view">
                    <img class="circle avatar" src="../../assets//img/ns.png">
                    <div class="white-text name">King Nobody</div>
                    <div class="white-text email">king.nobody@gmail.com</div>
                </div> -->
            </div>
        </div>
    </mz-sidenav-header>
    <mz-sidenav-subheader>
        Reclutamiento
    </mz-sidenav-subheader>



    <ul class="collapsible collapsible-accordion">
        <li>
            <a class="collapsible-header">Solicitudes<i class="material-icons rigth">
              assignment </i></a>
            <div class="collapsible-body">
                <ul>
                    <li><a href="../solicitud/solicitud-requerimiento.component.ts">Nuevo Requerimiento</a></li>

                </ul>
            </div>
        </li>
    </ul>
    <ul class="collapsible collapsible-accordion">
        <li>
            <a class="collapsible-header">Candidatos<i class="material-icons rigth">
              assignment_ind</i></a>
            <div class="collapsible-body">
                <ul>
                    <li><a href="../solicitud/solicitud-candidato.component.html">Nuevo Candidato</a></li>

                </ul>
            </div>
        </li>
    </ul>
    <ul class="collapsible collapsible-accordion">
        <li>
            <a class="collapsible-header">Catálogos<i class="material-icons rigth">
              folder</i></a>
            <div class="collapsible-body" *ngFor="let c of catalogos">
                <ul>
                    <li><a href="#!" routerLink="/{{c.path}}">{{c.titulo}}</a></li>

                </ul>
            </div>
        </li>
    </ul>



</mz-sidenav>