<div class="row">
    <h1>Solicitud del Condidato</h1>
    <div class="col s12 m6 l2 offset-l1">
        <button mz-button class="green">
            Agregar
          </button>
    </div>
    <div class="col s12 m6 l2">
        <button mz-button class="amber lighten-1">
            Guardar
          </button>
    </div>
    <div class="col s12 m6 l2" >
        <button mz-button class="red">
            Cancelar
          </button>
    </div>
    <div class="col s12 m 6 l4">
        <mz-card [horizontal]="true" > 
         
            <mz-card-image >
                <img src="assets/img/calendario.png" width="100px" height="150px" />
              </mz-card-image>
        
            <mz-card-content>
                <div class="col s12 m 6 l12">
                <label for="last_name">Fecha: </label>
                </div>
                <div class="col s12 m 6 l12">
                <label for="last_name">Folio: </label>
                </div>
                <div class="col s12 m 6 l12">
                <label for="last_name">Asesor Comercial: </label>
                </div>
  
            </mz-card-content>
  
          </mz-card>
    </div>
</div>

<div class="container">
<mz-collapsible class="col s12 m8 l6" mode="accordion">

    <mz-collapsible-item>
      <mz-collapsible-item-header>Datos del Candidato</mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <div class="row">
            <div class="col s12 m4 l4">
                <mz-input-container >
                <input mz-input
                  name="nombre"
                  [label]="'Nombre'"
                  id="Nombre"
                  placeholder="Nombre"
                  type="text">
              </mz-input-container>
                  
            </div>
            <div class="col s12 m4 l4">
                <mz-input-container >
                <input mz-input
                  name="apllidop"
                  [label]="'Apellido Paterno'"
                  id="apellidop"
                  placeholder="Apellido Paterno"
                  type="text">
              </mz-input-container>
                  
            </div>
            <div class="col s12 m4 l4">
                <mz-input-container >
                <input mz-input
                  name="apellidom"
                  [label]="'Apellido Materno'"
                  id="apellidom"
                  placeholder="Apellido Materno"
                  type="text">
              </mz-input-container>
                  
            </div>

            <div class="col s12 m4 l4">
                <mz-input-container >
                <input mz-input
                  name="edad"
                  [label]="'Edad'"
                  id="edad"
                  placeholder="Edad"
                  type="text">
              </mz-input-container>
                  
            </div>
            <div class="col s12 m4 l4">
                <mz-input-container >
                <input mz-input
                  name="estadoc"
                  [label]="'Estado Civil'"
                  id="estadoc"
                  placeholder="Estado Civil"
                  type="text">
              </mz-input-container>
                  
            </div>
            <div class="col s12 m4 l4">
                <mz-input-container >
                <input mz-input
                  name="correo"
                  [label]="'Correo Electronico'"
                  id="correo"
                  placeholder="Correo Electronico"
                  type="text">
              </mz-input-container>
            </div>
            <div class="col s12 m6 l2">
                <button mz-button class="blue">
                    Telefono
                  </button>
            </div>
        </div>
        
      </mz-collapsible-item-body>
    </mz-collapsible-item>

    <mz-collapsible-item>
      <mz-collapsible-item-header>Direccion</mz-collapsible-item-header>
      <mz-collapsible-item-body>

        <div class="col s12 m12 l12">
                  <mz-textarea-container>
                      <textarea mz-textarea
                        [label]="'Direccion'"
                        id="direccion"
                        placeholder="Direccion"
                        length="150"></textarea>
                    </mz-textarea-container>
          </div>

      </mz-collapsible-item-body>
    </mz-collapsible-item>

    <mz-collapsible-item>
      <mz-collapsible-item-header>Ultimas Percepciones</mz-collapsible-item-header>
      <mz-collapsible-item-body>
          
          <div class="col s12 m6 l2">
              <button mz-button class="green">
                  Agregar
                </button>
          </div>

      </mz-collapsible-item-body>
    </mz-collapsible-item>

    <mz-collapsible-item>
        <mz-collapsible-item-header>Asignacion de solicitud</mz-collapsible-item-header>
        <mz-collapsible-item-body>
          
            <div class="col s12 m4 l4">
                <mz-select-container>
                  <select mz-select
                      id="options-select"
                      [label]="'Asgnacion de solicitud'"
                      [placeholder]="'Asignacion de solicitud'"
                    >
                        <option data-icon="assets/select-icon-1.jpg" class="left circle">Option 1</option>
                        <option data-icon="assets/select-icon-2.jpg" class="left circle">Option 2</option>
                        <option data-icon="assets/select-icon-3.jpg" class="left circle">Option 3</option>
                    
                  </select>
                </mz-select-container>
              </div>

        </mz-collapsible-item-body>
      </mz-collapsible-item>

      <mz-collapsible-item>
          <mz-collapsible-item-header>Conocimientos y Habilidades</mz-collapsible-item-header>
          <mz-collapsible-item-body>
            
              <div class="row">
                  <div class="col s12 m6 l4">
                      <button mz-button class="blue">
                          Tecnico
                        </button>
                  </div>
                  <div class="col s12 m6 l4">
                      <button mz-button class="blue">
                          Idioma
                        </button>
                  </div>
                  <div class="col s12 m6 l4">
                      <button mz-button class="blue">
                          Habilidades
                        </button>
                  </div>

              </div>

          </mz-collapsible-item-body>
        </mz-collapsible-item>

  </mz-collapsible>

</div>